@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
.container {
  text-align: center;
  height: 100vh;
  background-color: #404258;
}
#chatcontent {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
}
#input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  resize: none;
  border-radius: 10px;
  color: white;
  background-color: #6B728E;
}